@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Display:wght@300..800&display=swap');

:root{
    /* paleta de colores */
    --color-uno: #e9e5c9;
    --color-dos: #e1980c;
    --color-tres: #ff432e;


    /* Font family */
    --pc-ff-titulos: "Amatic SC", sans-serif; /*Bree Serif*/
    --pc-ff-texto: "Abel", arial;
    --pc-ff-precios: "Abel", arial;

    /* Font size PC*/
    --pc-fs-titulos: 120px;
    --pc-fs-subtitulos: 32px;
    --pc-fs-texto: 20px;
    --pc-fs-precios: 32px;
    --pc-fs-nav: 25px;

    /* Font size TABLET*/

    --tl-fs-titulos: 37px;
    --tl-fs-subtitulos: 20px;
    --tl-fs-texto: 15px;
    --tl-fs-precios: 25px;
    --tl-fs-nav: 25px;

    /* Font size MOBIL*/
    --mb-fs-titulos: 67px;
    --mb-fs-subtitulos: 21px;
    --mb-fs-texto: 15px;
    --mb-fs-precios: 25px;
    --mb-fs-nav: 25px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: var(--color-uno);
    text-align: center;
}
nav{
    background-color: var(--color-dos);
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: var(--pc-fs-nav);
}
nav li{
    text-transform: capitalize;
    display: inline-block;
    margin: 0 15px;
    font-family: var(--pc-ff-texto);
}
h1{
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin: 20px auto;

    font-family: var(--pc-ff-titulos);
    font-size: var(--pc-fs-titulos);
}
.contenedor{
    width: 250px;
    margin: 30px 15px;
    display: inline-block;
    background-color: white;
}
.contenedor img{
    width: 100%;
    overflow: hidden;
}
.contenedor .detalles{
    text-align: center;;
}
.detalles h2{
    font-family: var(--pc-ff-titulos);
    font-size: var(--pc-fs-subtitulos);
}
.detalles p{
    font-family: var(--pc-ff-texto);
    font-size: var(--pc-fs-texto);
    margin: 10px 0;
}
.detalles .precio{
    color: var(--color-tres);
    font-family: var(--pc-ff-precios);
    font-size: var(--pc-fs-precios);
    font-weight: bold;
}


/* MOBILE */
@media (max-width: 660px) {
    h1{
        font-size: var(--mb-fs-titulos);
    }
    h2{
        font-size: var(--mb-fs-subtitulos);
    }
    p{
        font-size: var(--mb-fs-texto);
    }
    .precio{
        font-size: var(--mb-fs-precios);
    }
}

/* TABLET */
@media (max-width: 400px){
    h1{
        font-size: var(--tl-fs-titulos);
    }
    h2{
        font-size: var(--tl-fs-subtitulos);
    }
    p{
        font-size: var(--tl-fs-texto);
    }
    .precio{
        font-size: var(--tl-fs-precios);
    }
}